@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  /* dark */
  --body-color: white;
  --body-background-color: #181818;
  --sidebar-background-color: #101010;
  --sidebar-button-color: white;
  --sidebar-border-color: #202020;
  --sidebar-menu-item-hover-color: #282828;
  --heading-color: #f0e68c;
  --input-focus-color: #232323;
  --hover-color: orange;
  --hovert-task-color: grey;
  --line-color: white;
  --empty-color: #333333;
  --isdone-color: grey;
}

#light {
  --body-color: black;
  --body-background-color: #f5dfa8;
  --sidebar-background-color: #c5b385;
  --sidebar-button-color: black;
  --sidebar-border-color: #ac9c76;
  --sidebar-menu-item-hover-color: #d6cb91;
  --heading-color: red;
  --input-focus-color: #d6c99d;
  --hover-color: salmon;
  --hover-task-color: grey;
  --line-color: black;
  --empty-color: #b4a873;
  --isdone-color: grey;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mouse Memoirs", sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--body-background-color);
  color: var(--body-color);
}

/* Todo section */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.top h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.save-wrapper {
  display: flex;
  justify-content: space-between;
}

.save-input {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  background: none;
  border: none;
  text-align: center;
  border-radius: 1rem;
  color: var(--body-color);
  background-color: var(--sidebar-background-color);
  width: 100%;
}

.user-input {
  height: 4rem;
  margin-bottom: 1rem;
  border: none;
  color: var(--body-color);
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  border-radius: 1rem;
  background-color: var(--sidebar-background-color);
}

.top input:focus {
  outline: none;
  background-color: var(--input-focus-color);
}

.task:hover {
  color: var(--isdone-color) !important;
}

.task-btn,
.save-btn {
  cursor: pointer;
  padding: 1rem;
  border: none;
  background: none;
  color: var(--body-color);
  position: relative;
}

.task-btn:hover,
.save-btn:hover {
  color: var(--hover-color);
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.add:hover:after,
.delete:hover:after,
.clear:hover:after,
.save-btn:hover:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  /* font-family: "Mouse Memoirs", sans-serif; */
  animation: hover-over 300ms;
}

.save-btn:hover:after {
  content: "SAVE";
}

.add:hover:after {
  content: "ADD";
}

.delete:hover:after {
  content: "DELETE";
}

.clear:hover:after {
  content: "CLEAR";
}

.bottom {
  margin-top: 1rem;
}

.list-title {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
}

.section-header {
  color: var(--heading-color);
}

.empty {
  margin-top: 5rem;
  font-size: 1.3rem;
  animation: appear 0.5s ease-in-out;
  color: var(--empty-color);
}

.tasks-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
}

.task {
  text-align: center;
  width: max-content;
  height: 30px;
  margin: auto;
  font-size: 1.4rem;
  cursor: pointer;
  position: relative;
  animation: appear 0.5s ease-in-out;
}

.line {
  position: absolute;
  height: 5px;
  bottom: 50%;
  left: -0.5rem;
  background-color: var(--line-color);
  transition: width 0.3s;
  width: 0;
  pointer-events: none;
}

/* Sidebar menu */

.hamburger {
  position: fixed;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  z-index: 2;
  padding: 10px;
  transition: all 200ms ease-in-out;
}

.hamburger-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.first-block,
.second-block {
  background-color: var(--sidebar-button-color);
  height: 2px;
  width: 25px;
  transition: 200ms ease-in-out;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  max-width: 300px;
  width: 0;
  overflow-x: hidden;
  white-space: nowrap;
  height: 100vh;
  background-color: var(--sidebar-background-color);
  transition: width 0.1s ease-in-out;
  z-index: 1;
}

.menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-wrapper h1 {
  font-size: 1.8rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.menu-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  cursor: pointer;
  border-top: 1px solid var(--sidebar-border-color);
}

.menu-item-wrapper:last-child {
  border-bottom: 1px solid var(--sidebar-border-color);
}

.menu-item {
  font-size: 1.1rem;
  flex: 1;
  padding: 10px;
  margin-left: 2rem;
}

.menu-item-wrapper:hover {
  background-color: var(--sidebar-menu-item-hover-color);
}

.remove-btn {
  padding: 10px;
  margin-right: 2rem;
  cursor: pointer;
  background: none;
  color: var(--body-color);
  border: none;
  z-index: 3;
}

.remove-btn:hover {
  color: var(--hover-color);
  animation: button-hover 600ms ease-in-out infinite;
}

.theme-mode-wrapper {
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.theme-mode-wrapper h2 {
  margin-bottom: 5px;
}

.message {
  width: max-content;
  padding: 1rem;
  border-radius: 1rem;
  color: var(--body-color);
  background-color: var(--hover-color);
  position: absolute;
  top: -1rem;
  left: 0;
  right: 0;
  margin: 1rem auto;
  font-size: 2rem;
  text-align: center;
  opacity: 0;
  z-index: 1;
  animation: message-appear 1000ms ease-out;
}

.square {
  width: 20px;
  transform: rotate(45deg);
  height: 20px;
  background-color: var(--hover-color);
  z-index: 1;
  position: absolute;
  top: -10px;
  right: 0;
  left: 0;
  margin: auto;
}

@keyframes message-appear {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 2;
    top: 1rem;
  }

  100% {
    opacity: 0;
    top: 0;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    scale: 0;
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes hover-over {
  from {
    transform: rotate(0) scale(0);
  }

  to {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes button-hover {
  0% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(-20deg) scale(0.7);
  }

  100% {
    transform: rotate(20deg) scale(1);
  }
}

@media screen and (min-width: 600px) {
  * {
    font-size: 18px;
  }

  .sidebar-menu {
    max-width: 500px;
  }

  .menu-item {
    margin-left: 4rem;
  }

  .remove-btn {
    margin-right: 4rem;
  }

  .theme-mode-wrapper {
    margin-bottom: 0;
  }

  .theme-mode-wrapper h2 {
    margin-bottom: 8px;
  }

  .line {
    bottom: 35%;
    left: -0.5rem;
  }
}
